body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}

#result {
    background-color: black;
    color: rgb(222, 200, 200);
    height: 30vh;
    display: flex;
    font-size: 60px;
    justify-content: flex-end;
    align-items: end;
    padding: 20px;
    padding-right: 55px;
    box-sizing: border-box;

}

table {
    background-color: rgb(36, 36, 36);
    color: aliceblue;
    width: 100%; 
    height: 70vh;  
}

td {
    background-color: black;
    width: 25%;
    text-align: center;
    font-size: 35px;
}

#equals{
    background-color: rgb(127, 192, 170);
}
#equals:hover{
    background-color: red;
}

td:hover{
    background-color: rgb(41, 39, 39);
    color: rgb(142, 175, 205);
    cursor: pointer;
}

